data/from_s3/code_aligned
data/from_s3/partial_csv
data/from_s3/*.csv
data/*.csv
data/from_pyupbit/

ai_hint/all_features/models
ai_hint/close_only/models
ai_hint/all_features/results
ai_hint/close_only/results

data_analysis/graphs

__pycache__

config.py

*/*.tar.gz
*/*.zip